<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Learn.Helix.Project" description="NoticeBoard" dependencies="*Foundation.*,*Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Learn.Helix.Project" database="master" path="/sitecore/templates/Project/Playground/Learning" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
