<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Learn.Helix.Feature.Product" description="Product" dependencies="*Foundation.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Product\serialization\" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Loreal.OAP.Feature.Product.Templates" database="master" path="/sitecore/templates/Foundation/Product" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
